:root {
  --blanco: #ffffff;
  --negro: #212121;
  --amarillo: #ffc107;
  --azul: #0097a7;
  --gris: #757575;
  --grisClaro: #dfe9f3;
}

/* display: block; va a ir mostrando uno debajo del otro sin importar el tamaño del elemento 
display: inline; se va a posicionar uno a lado de otro hacia la derecha una vez que haya tomado el espacio que requiere (ej: nav, img)
display: flex; habilita flex-box y tenemos acceso a nuevas propiedades 
flex-direction: row; fila
flex-direction: column; columna*/

/*Globales*/

html {
  font-size: 62.5%;
  box-sizing: border-box; /* Hack para Box Model */
  scroll-snap-type: y mandatory; /* Efecto de Scroll */
}

/* Scroll Snap */

.servicios, /* Seleccionamos donde queremos que se detenga */
.navegacion-principal,
.formulario {
  scroll-snap-align: center;
  scroll-snap-stop: always;
}


*, *:before, *:after {
  box-sizing: inherit; /* Hack para Box Model */
}

body {
  font-size: 16px; /* 1rem = 10px */
  font-family: "Krub", sans-serif;
  /*Fondo degradado de abajo a arriba*/
  background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
}

.boton {
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--azul);
  padding: 1rem 3rem;
  margin-top: 3rem;
  color: var(--blanco);
  font-weight: bold;
  font-size: 2rem;
  border-radius: 0.5rem;
  width: 90%;
  text-align: center;
  border: none;
}

.boton:hover {
  cursor: pointer;
}

.contenedor {
  max-width: 120rem;
  /* margin-top: 0rem;
    margin-right: auto;
    margin-bottom: 0rem;
    margin-left: auto;
    margin: 0 auto 0 auto;*/
  margin: 0 auto;
}

.sombra { /* Para la sombra se utilizo cssmatic */
  -webkit-box-shadow: 0px 5px 15px 0px rgba(69,69,69,0.84);
  -moz-box-shadow: 0px 5px 15px 0px rgba(69,69,69,0.84);
  box-shadow: 0px 5px 15px 0px rgba(69,69,69,0.84);
  background-color: var(--blanco);
  padding: 2rem;
  border-radius: 1rem;
}

/*Tipografia*/

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.8rem;
}

h1, h2, h3 {
  text-align: center;
}

@media (min-width: 768px) {
    .boton {
      width: auto;
    }
}

.titulo span {
  font-size: 2.8rem;
}

.nav-bg {
  background-color: var(--azul);
}

.navegacion-principal {
  display: flex;
  flex-direction: column; /*default row uno a lado de otro; column uno debajo de otro*/
  /*align-items: center (para modificar column)*/
  align-items: center;
}

@media (min-width: 768px) {
    .navegacion-principal {
      flex-direction: row;
      justify-content: space-between;
    }
}

/* Utilidades */

.w-sm-100 {
  width: 100%;
}

@media (min-width: 768px) {
    .w-sm-100 {
      width: auto;
    }
}

.alinear-derecha {
  display: flex;
  justify-content: flex-end;
}

/* Navegación Principal */

.navegacion-principal a {
  color: var(--blanco);
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}

.navegacion-principal a:hover {
  background-color: var(--amarillo);
  color: var(--negro);
}

.hero { /* Aquí utilizamos css box model para posicionar la img */
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
  margin-bottom: 2rem;
}

.contenido-hero {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Sintaxis anterior*/
  background-color: rgb(0 0 0 / 70%);
  /*Para centrar el contenido*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
  color: var(--blanco);
}

/* Servicios */

@media (min-width: 768px) {
  .servicios {
    display: grid;
    /*grid-template-columns: 33.3% 33.3% 33.3%;*/
    /*grid-template-columns: 1fr 1fr 1fr; tres fracciones de un entero*/
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }
}

.servicio .iconos {
  height: 15rem;
  width: 15rem;
  background-color: var(--amarillo);
  border-radius: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.servicio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicio h3 {
  color: var(--azul);
}

.servicio p {
  line-height: 2; /* Interlineado del parrafo dentro de servicio */
}

/* Contacto */

.formulario {
  background-color: var(--gris);
  width: min(60rem, 100%); /* Utiliza el valor mas pequeño, para ahorrarnos un media querie*/
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;
}

.formulario fieldset {
  border: none;
}

.formulario legend {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  color: var(--amarillo);
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.campo {
  margin-bottom: 1rem;
}

.campo label {
  color: var(--blanco);
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block; /* label e input son display flex; display block hace que ocupe todo el espacio y aparezca uno debajo de otro*/
}

.campo .input-text {
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
}

.campo textarea {
  height: 20rem;
}

@media (min-width: 768px) {
  .contenedor-campos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto 20rem;
    column-gap: 1rem;
  }

  .campo:nth-child(3),
  .campo:nth-child(4) { /* Pseudo selector, seleccionamos uno de los div que tienen el mismo nombre, para evitar crear una clase extra */
    grid-column: 1 / 3; /* Para posicionar la columna que seleccionamos */
  }
}

/* Footer */

.footer {
  text-align: center;
}